body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  margin-top: 30px
}

header {
  .welcome {
    div {
      .title {
        font-size: 30px;
      }
      i {
        font-size: 128px;
      }
    }

    margin-top: 30px;
    height: 15rem;
    background: #FFC219
  }
  .people-item {
    font-size: 50px;
  }
  .nav {
    .nav-item {
        a {
          color: black;
          font-size: 18px
        }
        .fab {
          font-size: 32px;
        }
      }
      height: 50px;
    background: rgba(2, 157, 175, 0.3);
    padding: 5px;
  }
}




main {
  h4 {
    color: rgba(2, 157, 175, 1)
  }

  .about {
    height: 400px;

    .text {
      margin-top: 100px;
      text-align: justify;
    }
    margin-top: 100px;
  }

  .activities {
    img {
      height: 15em;
      width: 15em;
    }

    div {
      h6 {
        font-size: 24px;
        margin-top: 20px;
      }

      a {
        color: rgba(240, 124, 25, 0.7)
      }
    }

    margin-bottom: 150px;
  }

  .how {
    margin-top: 50px;

    div {
      margin-top: 50px;
      margin-bottom: 100px;

      img {
        height: 250px;
        width: auto;
      }
    }

    margin-bottom: 100px;
  }

  .slider {
    h4 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px;
    }

    .gallery-bck {
      background: rgba(2, 157, 175, 0.5)
    }

    margin-bottom: 30px;
  }
}

footer {
  div {
    .fundacja {
      font-weight: 700;
    }

    p {

      .fa-facebook-square {
        font-size: 28px;
        color: rgba(59, 89, 152, 1)
      }

    }

    background: #FFC219;
    padding: 10px;
    text-align: center
  }
}



// ---------------------------- warsztaty scss-------------------------


.hospital-head {
  h2 {
    font-size: 48px;
    padding: 20px
  }

  background: #FFC219;
  margin-top: 30px;
}

.hospital-head-stripe {

  &.pink {
    background: rgba(227, 37, 81, 1);
  }

  &.orange {
    background: rgba(240, 124, 25, 1);
  }

  height: 10px;
  margin-top: 5px;
}

.hospital-about {
  img {
    height: 400px;
    width: auto;
  }

  .hospital-about-text {
    div {
      h4 {
        color: rgba(2, 157, 175, 0.5);
        margin-bottom: 25px;
      }

      p {
        text-align: justify;
      }
    }
  }

  margin-top: 50px;
}


.hospital-aims {

  .hospital-aims-bck {
    background: rgba(240, 124, 25, 1)
  }

  .hospital-aims-text {
    h4 {
      color: rgba(240, 124, 25, 1);
      margin-bottom: 25px;
    }

    li {
      text-align: justify;
      padding: 5px;
    }
  }

  margin-top: 50px;
}

.hospital-philosophy {
  .hospital-philosophy-bck {
    background: rgba(2, 157, 175, 1)
  }

  .hospital-philosophy-text {
    h4 {
      margin-bottom: 25px;
    }
    p {
      text-align: justify;

      .quote {
        font-size: 22px;
        color: rgba(2, 157, 175, 1)
      }
    }

    li {
      text-align: justify;
      padding: 5px;
    }

    padding-right: 40px;
  }
}

//------------strony w budowie------------

.build {
  .text {
    p {
      i {
        font-size: 80px;
      }
    }
  }

  margin-top: 150px;
}

//-------------dzialania
.what {
  .text {
    .quote {
      font-size: 24px;
    }
  }

  margin-top: 50px;
  margin-bottom: 50px;
}


//-----------zespol
.team {
  h4 {
    color: gray;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  margin-bottom: 50px;

}

.team-about-section{
    .team-about-img{
        img{
            height: 300px;
        }
        
    }
    .team-about-text{
        margin-top: 50px;
        text-align: justify;
    }
    margin-top:50px;
}

.team-employees {
  .team-employees-bck {
    background: rgba(2, 157, 175, 1)
  }

  .team-employees-content {
    .team-employees-content-img {
      div {
        img {
          height: 200px;
          width: 200px;
        }
        p{
            span{
                font-size: 16px;
                text-transform: uppercase;
            }
            font-size: 18px;
            padding: 5px;
            text-align: justify;
            
        
        }
        padding: 20px;
        display: inline-block;
      }
    }
  }

}

.team-volunteers {
  div {
    img {
      height: 200px;
      width: 200px;
    }
  }

  .team-volunteers-bck {
    background: #FFC219
  }
  .team-volunteers-content{
      .team-volunteers-text{
        text-align: justify;
        margin-bottom: 50px;
      }
  }
}

.team-president {
  img {
    height: 300px;
    width: 230px;
  }

  .team-president-text {
    .team-president-text-subtitle {
      font-size: 16px;
      text-transform: uppercase
    }

    .name {
      font-size: 22px;
      font-weight: 700
    }

    text-align: justify;
  }
  .team-president-bck{
      background: rgba(227, 37, 81, 1)
  }
  margin-bottom: 50px;
}